{
	"port": 80,
	"gitsecret": "q",
	"gitReposDirectory": "/home/git/",
	"gitoradeAppLocation": "/home/git/Gitorade/app.js",
	"gitoradeServerLocation": "/home/git/Gitorade/server.js",
	"gitoradeServerRestarterLocation": "/home/git/Gitorade/serverRestarter.js",
	"gitoradeLogLocation": "/home/git/gitoradeLog.txt",
	"whitelistedAuthors": [ "MeMyself" ],
	"whitelistedRepos": [ "www.google.com", "www.google.xyz" ]
}